<% include partials/header %>
<div class="text-white mt-4 w-75 mx-auto">
    <h1 class="h1 text-center">Hi, Every One.</h1>
    <p class="text-center text-capitalize">this is basically a google oauth authentication app. you can login or sign up through your google account. you can see some of your account details after you logged in with your Google account.</p>
    <h3 class="h3 text-capitalize text-center mt-4 pt-4">please logged in to continue.</h3>
</div>    
<% include partials/footer %>
