<% include partials/header-without-navbar %>

<div class="login-form">
  <div class="close"> </div>
  <div class="head"></div>
  <div class="head-info">
        <h1>SIGN UP</h1>
        <h2>Welcome! Tell us a bit about you</h2>
  </div>
    
  <div class="social-icons-1">
    <a href="/users/google-OAuth">
      <ul class="google-plus">
          <li><img src="images/gp.png" />Google +</li>
      </ul>
    </a>
          <!-- <div class="clear"> </div> -->
  </div>
</div>

  <% include partials/footer %>