html, body{
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1680px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

  #messages {
    right: 1%;
    top: 11%;
    border: 1px solid #292a2b;
    border-radius: 8px;
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.2);
    width: 15%;
  }  

